<nz-card class="mt-4">
  <nz-page-header class="site-page-header" nzBackIcon>
    <nz-breadcrumb nz-page-header-breadcrumb>
      <nz-breadcrumb-item>Locadora de Filmes</nz-breadcrumb-item>
      <nz-breadcrumb-item>Gerência de Diretores</nz-breadcrumb-item>
    </nz-breadcrumb>
    <nz-avatar
      nz-page-header-avatar
      nzSrc="https://avatars0.githubusercontent.com/u/22736418?s=88&v=4"
    ></nz-avatar>
    <nz-page-header-title>Diretores</nz-page-header-title>
    <nz-page-header-subtitle>Diretores de Filmes</nz-page-header-subtitle>
    <nz-page-header-extra>
      <nz-space>
        <button
          *nzSpaceItem
          nz-button
          nzType="primary"
          (click)="handleOpenModalForm()"
          [disabled]="isFetching"
        >
          Novo Diretor
        </button>
      </nz-space>
    </nz-page-header-extra>
  </nz-page-header>

  <ng-container class="container px-4">
    <nz-skeleton [nzActive]="true" *ngIf="isFetching"></nz-skeleton>
    <nz-table #directorList [nzData]="directors" [hidden]="isFetching">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of directorList.data">
          <ng-container *ngIf="!editCache[data.id!]?.edit; else editTemplate">
            <td>{{ data.name }}</td>
            <td>
              <a (click)="startEdit(data.id!)">Editar</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a
                nz-popconfirm
                nzPopconfirmTitle="Tem certeza que deseja Remover?"
                (nzOnConfirm)="handleDeleteDirector(data.id!)"
                >Excluir</a
              >
            </td>
          </ng-container>
          <ng-template #editTemplate>
            <ng-container>
              <td>
                <nz-form-item>
                  <nz-form-control
                    nzHasFeedback
                    [nzSpan]="12"
                    nzErrorTip="Nome inválido"
                  >
                    <input
                      type="text"
                      nz-input
                      [(ngModel)]="editCache[data.id!].data.name"
                      minlength="3"
                      required
                    />
                  </nz-form-control>
                </nz-form-item>
              </td>
              <td>
                <a (click)="saveEdit(data.id!)" class="save">Salvar</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a
                  nz-popconfirm
                  nzPopconfirmTitle="Certeza que deseja cancelar?"
                  (nzOnConfirm)="cancelEdit(data.id!)"
                  >Cancelar</a
                >
              </td>
            </ng-container>
          </ng-template>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
  <nz-modal
    #directorFormModal
    [(nzVisible)]="formActionOpened"
    nzTitle="Cadastrar Diretor"
    (nzOnCancel)="handleCloseModalForm()"
    (nzOnOk)="handleSubmitDirector()"
    [nzOkText]="'Cadastrar'"
    [nzOkDisabled]="directorForm.invalid"
    [nzOkLoading]="isFetching"
    [nzCancelDisabled]="isFetching"
  >
    <form nz-form *nzModalContent [formGroup]="directorForm">
      <fieldset [disabled]="isFetching">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name"
            >Nome</nz-form-label
          >
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Nome inválido">
            <input nz-input formControlName="name" id="name" />
          </nz-form-control>
        </nz-form-item>
      </fieldset>
    </form>
  </nz-modal>
</nz-card>
