nz-layout:first-child {
  min-height: 100vh;
}

nz-sider {
  overflow: auto;
  height: 100%;
  position: fixed;
  left: 0;
  z-index: 1;
  figure {
    padding: 0.6rem;
  }
  img {
    width: 100%;
  }
}

nz-header {
  background: #fff;
  padding: 0;
}

.small-margin {
  margin-left: 80px;
}

.big-margin {
  margin-left: 200px;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}
