<nz-layout>
  <nz-sider
    *ngIf="router.url !== '/login'"
    nzCollapsible
    nzWidth="200px"
    nzTheme="light"
    (nzCollapsedChange)="handleToggleSider($event)"
  >
    <figure class="logo">
      <img src="assets/logo/passatempo-dark.png" alt="" />
    </figure>
    <ul nz-menu nzTheme="light" nzMode="inline">
      <li nz-submenu nzTitle="Locações" nzIcon="unordered-list">
        <ul>
          <li nz-menu-item>Empréstimos</li>
          <li nz-menu-item>Histórico</li>
        </ul>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="team"></i>
        <span>Clientes</span>
      </li>
      <li nz-submenu nzTitle="Filmes" nzIcon="video-camera">
        <ul>
          <li nz-menu-item>Itens</li>
          <li nz-menu-item routerLink="/titulos">Títulos</li>
          <li nz-menu-item routerLink="/classes">Classes</li>
          <li nz-menu-item routerLink="/atores">Atores</li>
          <li nz-menu-item routerLink="/diretores">Diretores</li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout
    class="transition-all duration-200"
    [ngClass]="
      router.url !== '/login'
        ? isSiderClosed
          ? 'small-margin'
          : 'big-margin'
        : ''
    "
  >
    <nz-content [ngClass]="{ 'mx-4': router.url !== '/login' }">
      <router-outlet></router-outlet>
      <app-footer *ngIf="router.url !== '/login'"></app-footer>
    </nz-content>
  </nz-layout>
</nz-layout>
