<footer class="flex justify-center align-middle gap-10 my-6">
  <div>
    <span class="block font-bold text-gray-600">Álisson Melquíades</span>
    <nav class="flex justify-center align-middle gap-2">
      <a href="https://github.com/alissonrms" target="_blank">
        <i nz-icon [nzType]="'github'"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/%C3%A1lisson-melqu%C3%ADades-77766a1a4/"
        target="_blank"
      >
        <i nz-icon nzType="linkedin" nzTheme="fill"></i>
      </a>
    </nav>
  </div>
  <div>
    <span class="block font-bold text-gray-600">Mateus Padovan</span>
    <nav class="flex justify-center align-middle gap-2">
      <a href="https://github.com/mateuspdv" target="_blank">
        <i nz-icon [nzType]="'github'"></i>
      </a>
      <a href="https://github.com/mateuspdv" target="_blank">
        <i nz-icon nzType="linkedin" nzTheme="fill"></i>
      </a>
    </nav>
  </div>
</footer>